Give the booking_date and the number of nights for guest 1183.

``` mysql
SELECT booking_date, nights
FROM booking
WHERE guest_id = 1183
```

List the arrival time and the first and last names for all guests due to arrive on 2016-11-05, order the output by time of arrival.

``` mysql
SELECT arrival_time, first_name, last_name
FROM booking JOIN guest ON guest.id = booking.guest_id
WHERE booking_date = '2016-11-05'
ORDER BY arrival_time
```

Give the daily rate that should be paid for bookings with ids 5152, 5165, 5154 and 5295. Include booking id, room type, number of occupants and the amount.

``` mysql
SELECT booking.booking_id, room_type_requested, occupants, amount
FROM booking JOIN rate ON booking.room_type_requested = rate.room_type 
    AND booking.occupants = rate.occupancy
WHERE booking.booking_id IN (5152, 5165, 5154, 5295)
```

Find who is staying in room 101 on 2016-12-03, include first name, last name and address.

``` mysql
SELECT first_name, last_name, address
FROM guest JOIN booking ON guest.id = booking.guest_id
WHERE room_no = 101 AND booking_date = '2016-12-03'
```

For guests 1185 and 1270 show the number of bookings made and the total number of nights. Your output should include the guest id and the total number of bookings and the total number of nights.

``` mysql
SELECT guest_id, COUNT(*) AS bookings, SUM(nights) AS nights
FROM guest JOIN booking ON guest.id = booking.guest_id
WHERE guest_id IN (1185, 1270)
GROUP BY guest_id
```

Show the total amount payable by guest Ruth Cadbury for her room bookings. You should JOIN to the rate table using room_type_requested and occupants.

``` mysql
SELECT sum(nights * amount)
FROM booking JOIN rate ON booking.room_type_requested = rate.room_type 
    AND booking.occupants = rate.occupancy
JOIN guest ON guest.id = booking.guest_id
WHERE first_name = 'Ruth' AND last_name = 'Cadbury'
```

Calculate the total bill for booking 5346 including extras.

``` mysql
SELECT SUM(rate.amount) + COALESCE(SUM(extra.amount), 0) AS total_bill
FROM booking LEFT JOIN extra on booking.booking_id = extra.booking_id
JOIN rate ON booking.room_type_requested = rate.room_type 
    AND booking.occupants = rate.occupancy
WHERE booking.booking_id = 5346
```

For every guest who has the word “Edinburgh” in their address show the total number of nights booked. Be sure to include 0 for those guests who have never had a booking. Show last name, first name, address and number of nights. Order by last name then first name.

``` mysql
SELECT last_name, first_name, address, COALESCE(SUM(nights), 0) AS nights
FROM guest LEFT JOIN booking ON guest.id = booking.guest_id
WHERE address LIKE '%Edinburgh%'
GROUP BY last_name, first_name, address
```

For each day of the week beginning 2016-11-25 show the number of bookings starting that day. Be sure to show all the days of the week in the correct order.

``` mysql
SELECT booking_date, COUNT(*) as arrivals
FROM booking
WHERE booking_date >= '2016-11-25'
GROUP BY booking_date
```

Show the number of guests in the hotel on the night of 2016-11-21. Include all occupants who checked in that day but not those who checked out.

``` mysql
SELECT SUM(occupants)
FROM booking
WHERE booking_date <= '2016-11-21' 
AND DATE_ADD(booking_date, INTERVAL nights DAY) > '2016-11-21'
```

Have two guests with the same surname ever stayed in the hotel on the evening? Show the last name and both first names. Do not include duplicates.

``` mysql
SELECT DISTINCT x.last_name, x.first_name, y.first_name
FROM (SELECT *
      FROM guest JOIN booking ON guest.id = booking.guest_id) x
JOIN (SELECT *
      FROM guest JOIN booking on guest.id = booking.guest_id) y ON x.last_name = y.last_name
WHERE x.first_name > y.first_name
AND x.booking_date <= y.booking_date
AND DATE_ADD(x.booking_date, INTERVAL x.nights DAY) > y.booking_date
```

The first digit of the room number indicates the floor – e.g. room 201 is on the 2nd floor. For each day of the week beginning 2016-11-14 show how many rooms are being vacated that day by floor number. Show all days in the correct order.

``` mysql
SELECT day, SUM([1st]) AS [1st], SUM([2nd]) AS [2nd], SUM([3rd]) AS [3rd]
FROM (SELECT DATE_ADD(booking_date, INTERVAL nights DAY) as day, 
      CASE WHEN LEFT(room_no, 1) = 1 THEN 1 ELSE 0 END AS [1st], 
      CASE WHEN LEFT(room_no, 1) = 2 THEN 1 ELSE 0 END AS [2nd], 
      CASE WHEN LEFT(room_no, 1) = 3 THEN 1 ELSE 0 END AS [3rd]
      FROM booking) x
WHERE day >= '2016-11-14'
GROUP BY day
```

List the rooms that are free on the day 25th Nov 2016.

``` mysql
SELECT DISTINCT room_no
FROM booking x
WHERE NOT EXISTS (SELECT room_no 
                  FROM booking y
                  WHERE x.room_no = y.room_no 
                      AND y.booking_date <= '2016-11-25' 
                      AND DATEADD(DAY, y.nights, y.booking_date) > '2016-11-25')
```

``` mysql
SELECT DISTINCT room_no
FROM booking
WHERE room_no NOT IN (SELECT room_no 
                      FROM booking
                      WHERE booking_date <= '2016-11-25'
                          AND DATEADD(DAY, nights, booking_date) > '2016-11-25')
```